@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #050505;
    color: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Sayfa dışına taşmayı engelle */
    font-family: 'Inter', sans-serif;
    background-color: #050505;
}

/* KESİN SCROLL AYARI */
.snap-container {
    height: 100vh;
    height: 100dvh;
    /* Mobilde adres çubuğu sorununu çözer */
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding-top: 0;
}

.snap-section {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    /* Kayınca durmayı zorlar */
    position: relative;
    overflow: hidden;
}

/* Türkçe Karakterlerin Kesilmesini Önle */
h1,
h2,
h3 {
    line-height: 1.3 !important;
    padding-bottom: 0.1em;
    /* Alt kuyruklar (g, ş, ç) kesilmesin */
}