@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .snap-container {
        @apply h-screen w-full overflow-y-scroll snap-y snap-mandatory;
        scroll-behavior: smooth;
    }

    .snap-section {
        @apply h-screen w-full snap-start flex justify-center items-center;
    }
}

html,
body {
    @apply m-0 p-0 overflow-hidden bg-black text-white;
}