.gridscan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Mouse engellemesin */
    z-index: 1;
    /* Ripple'ın üstünde, yazının altında */
    mix-blend-mode: screen;
    /* Işık efekti gibi kaynaşsın */
}